/* Hoja de estilos para proyecto web */

/*
    sintaxis de css
    selector {
        propiedad: valor;
        propiedad: valor;
        propiedad: valor;
    }
    selector { propiedad valor; }
    // 3 tipos de selectores

    // 1.- Tipo de etiqueta html
    body { margin: 0; }

    // 2.- Tipo clase (inicial con un punt0)
    .negrita { font-height: bold; }

    // 3.- tipo id (inicin con un #)
    #titulo-principal {font-size: zem; }

*/

body,h1,h2,h3,h4,h5,h6,img {
    font-family: 'Helvertica Neve', 'Helvertica', 'sans-serif';
    margin: 0;
    padding:  0;
    border: 0;  
   
}

#encabezado {}

/* aplica a las etiquetas que tienen
atributos class="titulos" y que son 
hijas de otra que tiene id="encabezado" */
#encabezado>.titulos {}

#barnav {}

#principal {}

#nota importante {}

#notas secundarias {}

#notas-secundarias>article>.introduccion{}

#notas-secundarias>article>.leer-mas{}

.container {
    width: 960px;
    margin: auto;
}

